@use "_h-fonts.scss" as F; 

* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #4c7b9d;
  background-image: url(../img/ciudad.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
  background-attachment: fixed;

  font-family: F.$fontFamily;
  font-size: F.$fontSize;
  font-weight: F.$fontWeight;
  line-height: F.$lineHeight;
  color: #253B5D;

  height: 206vh;
 }
 
